.photos__grid {
  margin: 0;
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 17px;
  list-style: none;
  justify-items: center;
}

@media (max-width: 880px) {
  .photos__grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 584px) {
  .photos__grid {
    grid-template-columns: 1fr;
  }
}
