.form__save-button {
  margin: 48px auto 0 auto;
  background: #000;
  color: #fff;
  width: 100%;
  font-weight: normal;
  font-stretch: normal;
  font-size: 18px;
  line-height: 22px;
  padding: 13px 0;
}
