.profile__edit-button {
  display: inline-block;
  background: url("../../../images/profile__edit-button.svg");
  margin: 0 0 0 18px;
  background-size: cover;
  min-width: 24px;
  min-height: 24px;
  border: 0;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media (max-width: 584px) {
  .profile__edit-button {
    margin: 0 0 0 10px;
    min-width: 18px;
    min-height: 18px;
  }
}
