.popup__close-button {
  position: absolute;
  background: url("../../../images/popup__close-button.svg");
  background-size: cover;
  width: 40px;
  height: 40px;
  right: -40px;
  top: -40px;
  border: 0;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media (max-width: 584px) {
  .popup__close-button {
    right: 0;
    top: -39px;
    width: 26px;
    height: 26px;
  }
}
