.popup__container {
  position: relative;
  margin: auto;
  min-width: 430px;
  z-index: 1;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media (max-width: 584px) {
  .popup__container {
    width: 88%;
    min-width: 282px;
    max-width: 430px;
  }
}
