.form__title {
  margin: 0 0 54px 0;
  color: #000;
  font-weight: 900;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
}

@media (max-width: 584px) {
  .form__title {
    font-size: 18px;
    line-height: 22px;
  }
}
